
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}


#pagination > ol {
    list-style: none;
    padding: 0;
}

.pagin-numbers {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 17px;
    color: rgb(120, 120, 120);
    background: rgb(222, 230, 253);
    border: 1px solid rgb(189, 189, 189);
    border-radius: 6px;
    width: 35px;
    height: 35px;
    /*To make element content be centered vertically: */
    line-height: 35px;
    text-align: center;
    margin: 5px 2px;
    cursor: pointer;
    transition: .2s ease;
}
.selected {
    color: rgb(255, 255, 255);
    background: rgb(144, 178, 223);
    border: 1px solid rgb(110, 120, 143);
    pointer-events: none;
}

.pagin-numbers:hover {
    color: rgb(100, 100, 100);
    background: rgb(189, 203, 241);
    border: 1px solid rgb(170, 170, 170);
}

.three-dots {
    font-family: 'Roboto', sans-serif;
    color: rgb(136, 136, 136);
    font-size: 30px;
    width: 32px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    cursor: context-menu;
    user-select: none;
}

@media only screen and (max-width: 500px) {
    .pagin-numbers {
        font-size: 16px;
        width: 32px;
        height: 32px;
        line-height: 32px;
    }

    .three-dots {
        width: 25px
    }
}